
html, body {
    font-family: 'Rubik', sans-serif, 'Roboto',sans-serif, Helvetica, Arial, sans-serif;
    background-color: #e5e5e5;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 20px;
    color: #868e96;
}

.navItem {
    font-weight: 600;
    font-size: 20px;
    color: #23374d;
    background-color: transparent;
    transition: all .5s ease 0s;
    text-decoration: none;
}


header {
    background-color: #1089ff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 15px;
    margin 0;
}

.logo {
    background-color: transparent;
    cursor: pointer;
    margin-right: auto;
    width: 40px;
}

.navLinks {
    list-style: none;
}

.navLinks li {
    display: inline-block;
    padding: 0 20px;
}

.navItem:hover {
    color: black;
}

.title {
    text-transform: uppercase;
    color: #343a40;
}

main #about {
    text-align: center;
    padding: 150px 150px ;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    min-height: 100%;
}

.name, .bio{
    text-align: center;
}

.bio {
    padding: 20px 0;
    width: 80%;
}

.fab{
    font-size: 50px;
    color: #1089ff;
    padding: 15px;
}

.fab:hover {
    color: #23374d;
}

.socialMedia {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.socialMedia li>a {
    text-decoration: none;
    margin: 0;
    padding: 15px 15px;
}

h1 {
    font-size: 100px;
    margin: 10px;
}

h2 {
    font-size: 50px;
    margin: 0;
}

h3 {
    font-size: 30px;
    margin: 0;
}

h4 {
    font-size: 20px;
    margin: 0;
}

.contrast {
    color: #1089ff;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100%;
    justify-content: space-around;
    align-items: flex-start;
    padding: 40px;
}

#experience {
    background-color: #eeeeee;
    min-height: 50%;
}

.item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
.role {
    width: 70%;
    display: flex;
    justify-content: space-between;
    
}

.description {
    width: 70%;
}

.description>h4 {
    color: #868e96;
}

#education {
    min-height: 50%;
}

#skills {
    min-height: 80%;
    background-color: #eeeeee;
    justify-content: space-between;
    align-items: right;
}
.list {
    list-style: none;
    display: flex;
}

.lista {
    padding: 0;
}

.language, .award{
    padding: 5px 0;
}

#awards {
    min-height: 50%;
}

.fas {
    color: #ffc107;
}

.nobullets {
    list-style: none;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    
}

.logoFooter {
    width: 15px;
}